html{
  background: #fff;
  height: 100%;
  position: relative;
  width: 100%;

}

header {
  top: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}

body {
 background: #f8f8f8;
 height: 100%;
 position: relative;
 width: 100%;
 padding: 0;
 margin: 0;
}

.nav {
  position: absolute;
  z-index:1; 
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
}

.nav li a {
  
  color: #fff;
 
  /* font: 700 1.3125 em; */
  font-weight: 700;
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
  letter-spacing: .05em;
  line-height: 2.25em; 
  font-size: 1em;
  padding: 20px;
  position: relative; 
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.nav li a:hover{
  text-decoration: underline;

}

.banner {
  height: 400px;
  width: 100%;
 position: relative;
  
  background-image: url("./images/header_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-line {
  display: inline;
  position: relative;
}

h1 {
  color:#fff;

  font-weight: 600;
  font-size: 4.1875em;
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.bannerText {
  color: #fff;
}

.logo {
  margin-right: 170px;
}

.about {
  /* margin: 0px 360px; */
  padding: 64px 0px;
  display: flex;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about p {
  color: #6E6E6E;
  font-weight: 400;
  font-stretch: normal;
  font-size: 1em;
  line-height: 1.75em;
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
 
}

.text-container {
  padding: 16px;
  height: 304px;
  width: 700px;
  margin: 0px;
}

.img-container {
  height: 300px;
  width: 460px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: baseline;
}

.awards-section {
  height: fit-content;
  
  background: #F8F8F8;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;


}

.award-filters {
  width: 400px;
  height: 1340px;
  display: flex;
  flex-direction: column; 
  padding-right: 50px;
}

.filter-title {
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  align-items: baseline;
  height: fit-content;
  padding-top: 4px;
  margin-bottom: 24px;
}

.filter-title button {
  height: fit-content;
  border: none;
  cursor: pointer;
  color: #38897e;
  font-size: 0.75rem;
  padding: 4px;
  border-radius: 4px;

}

.filter-title button :hover {
  color: #b2eae3;
}

.filter-title label {
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  color: #6E6E6E
}

.filter-category {
  border-bottom: 1px solid #634061;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}


.filter-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: fit-content;
  cursor: pointer;
  color: #6E6E6E;
  border: none;
  background: none;
  padding: 6px 0;
  margin-bottom: 1.5rem;
  width: 100%;
  height: fit-content;
  font-size: 16px;
  font-family: arial;
  font-weight: bold;

}

.filter-list {
  display: flex;
  flex-direction: column;
}

.filter-input-div {
  margin-bottom: 10px;
  
}

.filter-input {
 box-sizing: border-box;

}

.filter-label {
  color: #6E6E6E;
  font-family: Arial;
  font-weight: 400;
  margin-left: 8px;
}


.awards-list {
  width: 750px;
}

.hidden {
  display: none;
}