header {
  top: 0;
  display: flex;
  text-align: center;
  justify-content: center;

}

body {
 background: #f8f8f8;
 height: 100%;
 position: relative;
 width: 100%;
 padding: 0;
 margin: 0;
}



.nav {
  position: absolute;
  z-index:1; 
  display: inline-block;
  align-items: baseline;
  text-align: center;
  justify-content: center;
  padding: 0px;
}



.menu {
  display: inline-block;
 
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.menu li {
 /* float: left; */
 display: inline-block;

}

.menu li > a {
  
  color: #fff;
  display: block;
  /* font: 700 1.3125 em; */
  font-weight: 700;
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
  letter-spacing: .05em;
  line-height: 2.25em; 
  font-size: 1em;
  padding: 0 20px 0 20px;

  position: relative; 
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.menu li > a:hover{
  text-decoration: underline;

}

.menu li.close {
  display: none;
  
}

.menu-btn {
  display: none;
  float: right;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  height: fit-content;
  width: fit-content;
}


.banner {
  height: 400px;
  width: 100%;
  position: relative;
  
  background-image: url("./images/header_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-line {
  display: inline;
  position: relative;
}

h1 {
  color:#fff;

  font-weight: 600;
  font-size: 4.2em;
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.bannerText {
  color: #fff;
}

.logo {
  margin-right: 170px;
  margin-bottom: -15px;
  padding-top: 20px;
  width: 240px;
  display: inline-block;
}

.about {
  /* margin: 0px 360px; */
  padding: 64px 0px;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {

  .nav {
    width: 100%;
    padding: 15px 15px 15px 15px;

    
  }

  .logo {
    float: left;
    width: 140px;
    margin: 0 15px 0 15px;
    padding: 0 0 0 0;

  }

  .about {
    flex-direction: column-reverse;
  }
  
  h1 {
    font-size: 2.3em;
  }

  .menu {
    position: absolute;
    top: 0;
   
    display: none;
    background-color: #0d9b4a;
    width: 300px;
    height:100%;
    z-index: 3;
    transform: translateX(630px);
    transition: all 200ms ease-in-out; 
  }

  .menu.open {
    transform: translateX(0);
  }

  .menu li {
    display: none;
    padding: 0 14px;
    
  }

  .menu li > a {
    border: none;
    text-decoration: none;
  
  }

  .menu li.close {
    display: block;
    text-align: right;
  }

  .menu-btn {
    margin: 0 15px 0 15px;
   display: inline-block;
  }

  /* .drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    z-index: -1;
    transition: opacity 100ms linear;
  }

  .drawer.open {
    z-index: 1;
    opacity: 1;
  } */

  .awards-section {
    display: flex;
    flex-direction: column;
  }

  .award-filters {
    width: fit-content;
    min-width: 100%;
    padding: 0 0 0 0;
  }

  .awards-list {
    width: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .award-image {
    display: none;
  }

  .awards-group img {
    display: none;
  }
  
}

.about p {
  color: #6E6E6E;
  font-weight: 400;
  font-stretch: normal;
  font-size: 1em;
  line-height: 1.75em;
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
 
}

.text-container {
  padding: 16px;
  max-width: 700px;
  margin: 0px;
  flex-direction: column;
  overflow-wrap: break-word;
}

.img-container {
 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: baseline;
}

.img-container img {
 height: auto;
  max-width: 100%;
}

.awards-section {
 
  background: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
}

.award-filters {
  width: 400px;

  height: fit-content;
  display: flex;
  flex-direction: column; 
  padding-right: 50px;
}

.filter-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: fit-content;
  padding-top: 4px;
  margin-bottom: 24px;
}

.filter-title button {
  height: fit-content;
  border: none;
  cursor: pointer;
  color: #38897e;
  font-size: 0.75rem;
  padding: 4px;
  border-radius: 4px;

}

.filter-title button :hover {
  color: #b2eae3;
}

.filter-title label {
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  color: #6E6E6E
}

.filter-category {
  border-bottom: 1px solid #634061;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}


.filter-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: fit-content;
  cursor: pointer;
  color: #6E6E6E;
  border: none;
  background: none;
  padding: 6px 0;
  margin-bottom: 1.5rem;
  width: 100%;
  height: fit-content;
  font-size: 16px;
  font-family: arial;
  font-weight: bold;

}

.filter-list {
  display: flex;
  flex-direction: column;
}

.filter-input-div {
  margin-bottom: 10px;
  
}

.filter-input {
 box-sizing: border-box;
 
}

.filter-label {
  color: #6E6E6E;
  font-family: Arial;
  font-weight: 400;
  margin-left: 8px;
}


.awards-list {
  width: 750px;
  max-width: 100%;
}

.awards-list p {
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #6E6E6E;
  margin: 0 0 16px;
}

.awards-group {
  background: #fff;
  padding: 1rem;
  margin: 0 0 2rem 0;
  border-top: 4px solid #634061;

}

.awards-group-italics {
  color: #6E6E6E;
  font-weight: normal;
  font-size: 1rem;
  margin-left: 1rem;
  font-style: italic;
  line-height: 1;
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;

}

.awards-svg {
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
}


.awards-group h2 {
  font-size: 1.875em;
  margin: 0 0 0 0;
  color: #6E6E6E;
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}




.ceremony {

  display: grid;
  border-top: 1px dotted #6DB2AA;
  grid-template-columns: 1fr auto;
}

.ceremony span {
  color: #3F9B90;
  font-weight: bold;
}

.ceremony h3 {
  color: #6E6E6E;
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
  margin: 0 0 11px 0;
  padding: 16px 0 0;
  height: fit-content;
}

.ceremony h4 {
  color: #6E6E6E;
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
  margin: 0 0 14px 0;
  font-weight: normal;
  font-style: italic;
}

.ceremony h4 :hover {
  text-decoration: underline;

}
/* 
.award {
 text-decoration: none;
 
}

.award :hover {
  text-decoration: underline;
} */

.footer {
  background: #634061;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
  height: 300px;
  
  font-family: lato, "helvetica neue", Helvetica, Arial, sans-serif;
}

.footer h2 {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  line-height: 1.3;

  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 700;
  font-stretch: normal;
}

.footer a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 12px 64px;
  border-radius: 32px;
  font-size: 1.2rem;
  transition: all 200ms ease-out;
}

.hidden {
  display: none;
}
